[Unit]
Description=The postgraphile service used to serve as the graphQL API for eqkillboard
AFTER=postgresql.service

[Service]
ExecStart=/usr/bin/postgraphile --append-plugins postgraphile-plugin-connection-filter -c postgres://username:password@localhost/eqkillboard --schema public --disable-default-mutations
Restart=always
RestartSec=10
SyslogIdentifier=eqkillboard-postgraphile
[Install]
WantedBy=multi-user.target