@import '~antd/dist/antd.css';

body { 
  background: url(https://images4.alphacoders.com/240/thumb-1920-240836.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}