@import '~antd/dist/antd.css';

body { 
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll; 
  overflow-x: hidden;
}

.container {
  margin: 0 auto; 
  background: #fafafa;
}

@media all and (min-width: 991px) {
  .container {
    width: 58%;
  }
}
